:root {
    --primary-color: #ffffff;
    --border-color: #616161;
    --background-color: #a3a3a3;
}

body {
    margin: auto;
    display: flex;
    justify-content: center;
    align-content: center;
    background-color: var(--background-color);
}

#content {
    min-width: 100%;
}

#top img {
    display: block;
    min-width: 100%;
    margin: auto;
    object-fit: cover;
}

#grid {
    min-height: fit-content;
    display: grid;
    justify-content: center;
    grid-template-columns: 1fr 1fr 1fr;
}

#bottom {
    margin-top: 10px;
    margin-bottom: 10px;
}

#grid img {
    border: 15px solid var(--border-color);
    border-radius: 50%;
    max-width: 40%;
    margin: auto;
}