:root {
    --primary-color: #ffffff;
    --hover-color: #000000;
    --background-color: #3b94b8;
}

#top img {
    display: block;
    max-width: 100%;
    margin: auto;
    object-fit: cover;
}

#grid, #bottom {
    display: grid;
    justify-content: center;
    grid-template-columns: 1fr 1fr 1fr;
}

#bottom {
    margin: auto;
}

#grid img {
    border-radius: 50%;
    max-width: 40%;
    margin: auto;
}